*{
    margin: 5px;
    background-color: rgb(60, 216, 99);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p{
    color: brown;
}

.colortexto{
    color:black;
    font-size: 16px;
}