* {
    margin: 5px;
    background-color: darkkhaki;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    color: rgb(246, 15, 238);
}

.colortexto {
    color: #fff;
    font-size: 16px;
}

.tipotexto {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}